.hidden {
    display: none;
}

h1 {
    color: rgb(9, 70, 139);
    margin: 0px;
}


h3 {
    color: rgb(9, 70, 139);
    margin: 0px;
    font-weight: 400;
}

.thisWeek {
    color: #09468B;
    font-weight: 700;
    font-style: italic;
  }

  .progressDiv1 {
      width: 80vw;
      margin: 1rem 0rem;
  }

  .progressDiv2 {
    width: 80vw
}

.progressBar2 {
    width: 100%;
}

.progressBar1 {
    width: 100%;
}